.frame(du-scroll-container, class="desktop", move-video)
	
	.video-wrapper(ng-style="heroStyles()")
		div(class="video transform", ng-style="thumbStyles()")
			div(class="lazyYT-button", ng-style="buttonStyles()", ng-class="{scrolled: scrolled}", ng-click="playVideo(video.currentTime)")
			div(ng-style="videoStyles()")
				youtube-video(id="main-vid", 
						video-id="video.id", 
						player-vars="playerVars"
						)


	.text-wrapper
			
		.title-text
			.mobile-image
				img(ng-src="{{fields.heroImage.fields.file.url}}")
			.table-cell
				h1(class="top") {{fields.title}}
				h2 {{fields.subTitle}}
				a(class="arrow-nav", href="#intro", offset="30", du-smooth-scroll)
					span(class="arrow fa fa-angle-double-down")
			

		.text
			div(id="intro", ng-bind-html="trust(fields.introText)")
			
			.item-container(ng-if="dataready", wrap-waypoints)
				div(
					class="item"
					ng-repeat="item in fields.youTubeListItems", 
					data-chapter="{{item.fields.order}}", 
					data-id="{{item.fields.youTubeVideoId}}",
					data-thumblur="{{item.fields.thumbBlur.fields.file.url}}",
					data-time="{{item.fields.startTime}}",
					data-thumbnail="{{item.fields.videoThumbnail.fields.file.url}}")

					div(lazy="lazy", thumbnail="{{item.fields.videoThumbnail.fields.file.url}}?w=800", videoid="{{item.fields.youTubeVideoId}}", data-ratio="16:9", class="lazyYT") loading...


					
					h1 {{item.fields.order}}
					
					h2 {{item.fields.title}}
					
					p(class="bodyText", ng-bind-html="trust(item.fields.bodyText)")
					p(ng-click="playVideo(item.fields.startTime)", class="play-button") <span class="fa fa-play"></span> PLAY




